<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K-vecinos</title>
</head>
<body>
<p>Para {{ target_name.capitalize }} estos son sus {{ k }} vecinos mas cercanos</p>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Nombre de la persona</th>
            <th>Similaridad</th>
        </tr>
        {% for person in resultados %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.0 }}</td>
            <td>{{ person.1 }}</td>

        </tr>
        {% endfor %}
    </table>

</body>
</html>