<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manhattan</title>
</head>
<body>
<p>Persona 1: {{ nombre_persona_1 }}</p>
<p>Persona 2: {{ nombre_persona_2 }}</p>
<p>Resultado: {{ suma }}</p>
</body>
</html>