<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Item 1: {{ nombre_item_1 }}</p>
<p>Item 2: {{ nombre_item_2 }}</p>
<p>Resultado: {{ resultado }}</p>

<p>Tiempo: {{ process_time }}</p>
<b>**El tiempo se da desde que el url es tocado hasta que retorna el resultado</b>
</body>
</html>