<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Para {{ target_name }} estos son sus {{ k }} vecinos mas cercanos</p>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Nombre del item</th>
            <th>Similaridad</th>
        </tr>
        {% for item in resultados %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>

        </tr>
        {% endfor %}
    </table>

</body>

<p>Tiempo: {{ process_time }}</p>
<b>**El tiempo se da desde que el url es tocado hasta que retorna el resultado</b>
</html>