<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediccion</title>
</head>
<body>
<p>La prediccion para el usuario {{ nombre_usuario.capitalize }} con respecto a {{ nombre_item.capitalize }} es : {{ resultado }}</p>
</body>

<p>Tiempo: {{ process_time }}</p>
<b>**El tiempo se da desde que el url es tocado hasta que retorna el resultado</b>
</html>