<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slope One</title>
</head>
<body>
    <p>User: {{ user_name }}</p>
    <p>Item: {{ item_name }}</p>
    <p>{{ predicted_or_score }}: {{ score }}</p>
</body>

<p>Tiempo: {{ process_time }}</p>
<b>**El tiempo se da desde que el url es tocado hasta que retorna el resultado</b>
</html>