<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recomendation system</title>
</head>
<body>
{#<li><a href="{% url 'evdos:prediccionitem' %}">K-vecinos</a></li>#}
<a href="/prediccionitem/manhattan/1/1/">K-vecinos</a>
</body>
</html>