<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Nombre 2</th>
            <th>distancia</th>
        </tr>
    {% for item in group1 %}
        <tr>
            <td>{{ item.centroid }}</td>
            <td>{{ item.person }}</td>
            <td>{{ item.distance }}</td>
        </tr>
    {% endfor %}
     </table>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Nombre 2</th>
            <th>distancia</th>
        </tr>
    {% for item in group2 %}
        <tr>
            <td>{{ item.centroid }}</td>
            <td>{{ item.person }}</td>
            <td>{{ item.distance }}</td>
        </tr>
    {% endfor %}
     </table>
</body>
</html>