<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kmeans</title>
</head>
<body>
    <table>
        <tr>
            <th>Affinity name</th>
            <th>Affinity item</th>
            <th>Affinity distance</th>
        </tr>
    {% for centroid in centroids %}
        <tr>
            <td>{{ centroid.user.name}}</td>
            <td>{{ centroid.item.name }}</td>
            <td>{{ centroid.distance }}</td>
        </tr>
    {% endfor %}
     </table>

</body>
</html>